
<style>
md-tooltip.md-show {
	color: white !important;
	-webkit-transition: all .4s cubic-bezier(.25, .8, .25, 1);
	transition: all .4s cubic-bezier(.25, .8, .25, 1);
	pointer-events: auto;
}

.md-show {
	visibility: visible;
	color: white !important;
}

.border {
	border: 1px solid;
	border: 1px solid;
	border-bottom: 1px solid;
	height: 274px;
	margin-bottom: 28px;
}

.bord {
	border: 1px solid darkgrey;
	padding: 10px;
	margin: 8px;
	width: 32%;
}

@media screen and (max-width: 600px) {
	.bord {
		border: 1px solid;
		padding: 10px;
		margin: 8px;
		width: 85%;
	}
}

.wid {;
	width: 36%;
}

@media screen and (max-width: 600px) {
	.wid {
		width: 64%;
	}
}
</style>
<div class="container-fluid">
	<form name="viewSite" novalidate autocomplete="off"
		ng-init="btn=true;btn1=false;hideshow=false;">
		<br>
		<div class="panel panel-deva" style="width: 100%;" ng-init="init()">
			<div class="panel-heading" style="font-size: 15px;">
				View Site <i class="fa fa-plus-square" data-toggle="modal"
					data-target="#newSite"><md-tooltip> <span class="">Add
						Site</span></md-tooltip></i>
			</div>
			<div class="panel-body">


				<div class="row">
					<div class="col-sm-4">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<label for="inputsm" class="labelInput">Client Name<span
								class="req">*</span></label>
						</div>
						<div class="col-sm-2">
							<div class="form-group">
								<input type="text" class="form-control input-sm" id="clientName"
									name="clientID" ng-model="clientInfo.clientID" maxlength="46"
									ng-maxlength="45" disabled="disabled">
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control input-sm" id="clientName"
									name="clientName" ng-model="clientInfo.clientName"
									maxlength="46" ng-maxlength="45" disabled="disabled">
							</div>
						</div>

					</div>
					<div class="col-sm-4"></div>
					<div class="col-sm-4"></div>

				</div>

				<center>
					<!--                               First row                                      -->
					<div class="row" id="createRow">
						<!--First Colum start  -->

						<div class="col-sm-4 bord" ng-repeat="rw in addressList" style="">
							<!-- Site address start -->
							 <ng-form name="viewSite1">
								<div class="col-sm-2"></div>
								<div class="col-sm-2"></div>
								<div class="col-sm-2">
									<input type="checkbox" name="checked"
										style="margin-left: 28px;" ng-checked="rw.checked == 'true'"
										ng-model="rw.checked"
										ng-click="updateSelection($index, addressList,rw);changeStatus()">
								</div>
								<div class="col-sm-5">
									<center>
										<!-- <input type="checkbox" name="checked"
									ng-checked="rw.checked == 'true'"  ng-model="rw.checked"
									ng-click="updateSelection($index, addressList,rw);changeStatus()" required>
							 -->
										<label for="inputsm" class="labelInput" style="float: left;"
											ng-show="$index==0">Reg Office Address</label> <label
											for="inputsm" class="labelInput" style="float: left;"
											ng-show="$index!=0">Site {{$index}}</label>
									</center>
								</div>
								<div class="col-sm-1">
									<span class="fa fa-trash-o" ng-click="deleteAddress(rw)"
										ng-show="$index!=0"
										style="font-size: 16px; margin-left: -12px; -webkit-text-fill-color: red;"><md-tooltip>
										<span class="">Delete site</span></md-tooltip></span>
								</div>
								<div class="col-sm-4">
									<label for="inputsm" class="labelInput">Address<span
										class="req">*</span></label>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<textarea type="text" class="form-control" name="siteAddress"
											ng-disabled="btn" ng-model="rw.siteAddress" maxlength="46"
											ng-maxlength="45" style="margin-bottom: -12px;" required></textarea>
										<span style="float: left;
    margin-top: 11px;"
											ng-show="viewSite1.siteAddress.$dirty && viewSite1.siteAddress.$invalid">
											<span ng-show="viewSite1.siteAddress.$error.required"
											class="error">Please Enter Name</span> <span
											ng-show="viewSite1.siteAddress.$error.maxlength" class="error">Enter
												Maximum 45 char</span>
										</span>
									</div>
								</div>
								<div class="col-sm-4">
									<label for="inputsm" class="labelInput">City<span
										class="req">*</span></label>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control input-sm"
											ng-disabled="btn" name="siteCity" ng-model="rw.siteCity"
											maxlength="46" style="margin-bottom: -12px;"
											ng-maxlength="45" required> <span style="float: left;
    margin-top: 11px;"
											ng-show="viewSite1.siteCity.$dirty && viewSite1.siteCity.$invalid">
											<span ng-show="viewSite1.siteCity.$error.required"
											class="error">Please enter city</span> <span
											ng-show="viewSite1.siteCity.$error.maxlength" class="error">Enter
												Maximum 45 char</span>
										</span>
									</div>

								</div>

								<div class="col-sm-4">
									<label for="inputsm" class="labelInput">Contact Person<span
										class="req">*</span></label>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="text" class="form-control input-sm"
											style="margin-bottom: -12px;" ng-disabled="btn"
											name="contactPerson" ng-model="rw.contactPerson"
											maxlength="46" ng-maxlength="45" required> <span style="float: left;
    margin-top: 11px;"
											ng-show="viewSite1.contactPerson.$dirty && viewSite1.contactPerson.$invalid">
											<span ng-show="viewSite1.contactPerson.$error.required"
											class="error">Please enter contact person </span> <span
											ng-show="viewSite1.contactPerson.$error.maxlength"
											class="error">Enter Maximum 45 char</span>
										</span>
									</div>

								</div>
								<div class="col-sm-4">
									<label for="inputsm" class="labelInput">Mobile<span
										class="req">*</span></label>
								</div>
								<div class="col-sm-8">
									<div class="form-group">
										<input type="number" class="form-control input-sm"
											style="margin-bottom: -12px;" ng-disabled="btn"
											name="mobileNO" ng-model="rw.mobileNO" minlength="10"
											ng-maxlength="10" required> <span style="float: left;
    margin-top: 11px;"
											ng-show="viewSite1.mobileNO.$dirty && viewSite1.mobileNO.$invalid">
											<span ng-show="viewSite1.mobileNO.$error.required"
											class="error">Please Enter Mobile Number</span> <span
											ng-show="viewSite1.mobileNO.$error.minlength" class="error">Mobile
												Number Should Be 10 Digit</span> <span
											ng-show="viewSite1.mobileNO.$error.maxlength" class="error">Mobile
												Number Should Be 10 Digit</span>
										</span>
									</div>

								</div>
								<!-- Site address end -->


							</ng-form>
						</div>
						<div id="target"></div>
						<!--                               First row    end                                -->



						<div class="col-md-12">
							<div align="center" style="margin-bottom: 10px;">
								<button type="button" style="margin-top: 10px;"
									ng-click="cancel()" ng-hide="btn1" class="btn btn-deva">Cancel</button>
								<button type="button" style="margin-top: 10px;" ng-hide="btn"
									ng-click="btn1=false;btn=true;" class="btn btn-deva">Cancel</button>
								<button type="button" style="margin-top: 10px;" ng-hide="btn1"
									ng-click="btn=false;btn1=true;" class="btn btn-deva">Edit</button>
								<button type="button" style="margin-top: 10px;" ng-hide="btn"
									ng-click="updateSite()" class="btn btn-deva"
									ng-disabled="viewSite.$invalid">Save</button>
								<button ng-show="hideshow" ng-click="cancel()"
									class="btn btn-deva" type="button" style="margin-top: 10px;">Select</button>

							</div>
						</div>

					</div>
				</center>
			</div>
		</div>
	</form>
</div>

<div id="newSite" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm wid">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header header-color">

				<h4 class="modal-title" style="text-align: center;">Add Site</h4>
			</div>
			<div class="modal-body">
				<form name="newSite1">

					<div class="form-group">
						<div class="input-group-sm">
							<label>Address<span class="req">*</span></label>
							<textarea type="text" ng-rows="6" class="form-control"
								name="siteAddress" ng-model="newSite.siteAddress"
								required="required" ng-maxlength="160"></textarea>
							<span
								ng-show="newSite1.siteAddress.$dirty && newSite1.siteAddress.$invalid">
								<span ng-show="newSite1.siteAddress.$error.required"
								class="error">Please Enter address</span> <span
								ng-show="newSite1.siteAddress.$error.maxlength" class="error">Enter
									Maximum 160 char</span>

							</span>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group-sm">
							<label>City<span class="req">*</span></label> <input type="text"
								class="form-control" name="city" ng-model="newSite.siteCity"
								required="required"> <span
								ng-show="newSite1.city.$dirty && newSite1.city.$invalid">
								<span ng-show="newSite1.city.$error.required" class="error">Please
									Enter address</span> <span ng-show="newSite1.city.$error.maxlength"
								class="error">Enter Maximum 160 char</span>

							</span>
						</div>

					</div>
					<div class="form-group">
						<div class="input-group-sm">
							<label>Contact Person<span class="req">*</span></label> <input
								type="text" class="form-control" name="contactPerson"
								ng-model="newSite.contactPerson" required="required"
								ng-maxlength="45"> <span
								ng-show="newSite1.contactPerson.$dirty && newSite1.contactPerson.$invalid">
								<span ng-show="newSite1.contactPerson.$error.required"
								class="error">Please Enter address</span> <span
								ng-show="newSite1.contactPerson.$error.maxlength" class="error">Enter
									Maximum 45 char</span>

							</span>

						</div>

					</div>
					<div class="form-group">
						<div class="input-group-sm">
							<label>Mobile<span class="req">*</span></label> <input
								type="number" class="form-control" name="mobileNO"
								ng-model="newSite.mobileNO" ng-minlength="10" ng-maxlength="10"
								required="required"> <span
								ng-show="newSite1.mobileNO.$dirty && newSite1.mobileNO.$invalid">
								<span ng-show="newSite1.mobileNO.$error.required" class="error">Please
									Enter address</span> <span
								ng-show="newSite1.mobileNO.$error.maxlength" class="error">Enter
									Maximum 10 char</span> <span
								ng-show="newSite1.mobileNO.$error.minlength" class="error">Enter
									Minimum 10 char</span>

							</span>

						</div>

					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-deva" data-dismiss="modal"
					ng-disabled="newSite1.$invalid" style="width: 64px;"
					ng-click="addSite()">Add</button>

			</div>
		</div>

	</div>
</div>


<div id="deleteSite" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header header-color" style="background-color: red;">

				<h4 class="modal-title" style="text-align: center;">Delete Site</h4>
			</div>
			<div class="modal-body">
				<center>Are you sure you want to delete the site?</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					style="background-color: darkgrey;" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-deva" data-dismiss="modal"
					style="width: 64px; background-color: red;"
					ng-click="removeElement();">Yes</button>

			</div>
		</div>

	</div>
</div>
<!-- Update pop up -->
<div id="popup" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header header-color">

				<h4 class="modal-title" style="text-align: center;">Update Site</h4>
			</div>
			<div class="modal-body">
				<center>Site details updated successfully</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>


			</div>
		</div>

	</div>
</div>
<!-- Add pop up sucesfully -->
<div id="addpopup" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header header-color">

				<h4 class="modal-title" style="text-align: center;">Add Site</h4>
			</div>
			<div class="modal-body">
				<center>New site successfully</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


			</div>
		</div>

	</div>
</div>
<div id="deleteSuccess" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header header-color">

				<h4 class="modal-title" style="text-align: center;">Update Site</h4>
			</div>
			<div class="modal-body">
				<center>Site deleted successfully</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"
					ng-click="relod()">Ok</button>


			</div>
		</div>

	</div>
</div>